 <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>AU FORMAT</h3>
                <p>Menuiserie & Agencement Bois</p>
                <p style="font-style: italic; color: var(--bois-clair);">Franchissons ensemble, le pas vers le bois</p>
            </div>
            
            <div class="footer-section">
                <h3>Contact</h3>
                <p>📍 88 Imp. de la Briqueterie, 59830 Cysoing</p>
                <p>📞 07 88 91 60 68</p>
                <p>✉️ contact@auformat.fr</p>
            </div>
            
            <div class="footer-section">
                <h3>Horaires</h3>
                <p>Lundi - Vendredi : 8h - 18h</p>
                <p>Samedi : Fermé</p>
                <p>Dimanche : Fermé</p>
            </div>
            
            <div class="footer-section">
                <h3>Liens Rapides</h3>
                <a href="savoir_faire.html">Savoir-faire</a>
                <a href="realisations.html">Réalisations</a>
                <a href="processus.html">Notre processus</a>
                <!-- <a href="contact.html">Contact</a>-->
            </div>
        </div>
            <div class="footer-bottom">&copy; <span id="y"></span> Au Format - Tous droits réservés</div>
    </footer>
    <script>
      document.getElementById('y').textContent = new Date().getFullYear();
    </script>